#craftWindow.fisher {
	background: url('/stonehearth/jobs/carpenter/skin/skin.png');

	.item {
		background-image: url('/stonehearth/jobs/carpenter/skin/skin.png');
	}

	#details {
		background-image: none;
	}
	#recipeTab{
		.decor {
			background: url('fishing_line.png');
			width: 429px;
			height: 714px;
			left: 706px;
			top: -144px;
			display: block;
		}
	}

	#craftButton {
		position: absolute;
		right: 11px;
		top: -34px;
		width: 78px;
		height: 145px;
		#craftButtonImage {
			background: url('hook.png');
		}
	}

	#orderListContainer {
		table{
			background: #1f1e1e;
		}

		.orderListRow {
			background: #1f1e1e;
		}
	}
}